.side-menu {
    border: 1px solid darkgray;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

}

.side-item-envelope {
    margin-top: 5%;
    height: 60%;
    width: 60%;
}

.side-item {
    box-shadow: 10px 10px 10px 10px rgba(232,232,232,1);
    width: 100%;
    border-radius: 50%;
    text-align: center;
    padding: 50% 0;
    line-height: 0;
    position: relative;
    border: 1px solid darkgray;
    color: black;
    transform: rotate(20deg);
    display: inline-block;
}

a.side-item:hover {
    background: rgba(41,102,117,1);
    color: white;
}

